body
{
	margin:0;
	padding:0;
	background:#262626;
	font-family:arial;
}
.loader
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.loader h1
{
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-size:7em;
	color:rgba(255,255,255,.1);
	background-image:url(download.jpg);
	background-repeat:repeat-x;
	
	-webkit-background-clip:text;
	animation:animate 15s linear infinite
}
.loader h1
{
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-size:7em;
	color:rgba(255,255,255,.1);
	background-image:url(download.jpg);
	background-repeat:repeat-x;
	
	-webkit-background-clip:text;
	animation:animate 15s linear infinite
}
@keyframes animate
{
	0%
	{
		background-position:right 0px top 100px;
	}
	50%
	{
		background-position:right 205px top -30px;
	}
	100%
	{
		background-position:right 2000px top -5px;
	}
	150%
	{
		background-position:right 2800px top 80px;
	}
	200%
	{
		background-position:right 3000px top 300px;
	}
	250%
	{
		background-position:right 3500px top -40px;
	}
	300%
	{
		background-position:right 4000px top 100px;
	}
}
